   <%= form_for @check_service_area do |f| %>

   <div class="field hidden">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field hidden">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="f_name">
    <%= f.label :address %><br>
    </div>
    <div class="field">
    <%= f.text_field :address %>
  </div>

  <div class="f_name">
    <%= f.label :zipcode %><br>
  </div>
  <div class="field">
    <%= f.text_field :zipcode %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>