<!DOCTYPE html>
<html>
<head>
  <title>Ginger Ails</title>

</head>
<body>
<!-- Added plain sign in and out buttons for now until we can replace the modal -->
 <% if current_user %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
       <%= link_to "Check Service Area", service_areas_path, class: "btn btn-info" %>
       <% else %>
       <%= link_to "Login", user_session_path, class: "btn btn-primary" %>
       <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
       <%= link_to "Check Service Area", service_areas_path, class: "btn btn-info" %>
      <% end %>

<center>
<h1>Ginger Ails</h1>
<!-- ENTER ADDRESS -->
<h2>On call for what ails you!</h2>
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    SELECT YOUR AILMENT <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
  <% Ailment.all.each do |ailment| %>
    <li><%= link_to ailment.name, ailment_path(id: ailment.id) %></li>
    <% end %>
  </ul>
</div>
</center>
</body>
</html>







